<template name="warningPage">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">无访问权限!</h4>
    <p>您的访问可能过期，或者访问目标不存在。请仔细检查地址，如有更多问题请联系系统管理员</p>
    <hr>
    <p class="mb-0" align="right">西安交通大学网络教育学院软件开发科</p>
  </div>
</template>

<template name="disabledAccessPage">
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">未开启访问权限</h4>
      <p>您要访问的目标没有开启访问权限，请联系系统管理员</p>
      <hr>
      <p class="mb-0" align="right">西安交通大学网络教育学院软件开发科</p>
    </div>
  </div>
</template>
